<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)
</head>

<body class="$css_class main">

$theme.include($body_top_include)

#set($show=false)
#if($is_signed_in)
    #if($permissionChecker.isOmniadmin() || $permissionChecker.isCompanyAdmin($company_id))
        #dockbar()
        #set($show=true)
    #elseif($roles && $roles != "")
        #set($show=false)
        #set($roleService = $serviceLocator.findService("com.liferay.portal.service.RoleLocalService"))
        #set($userRoles = $roleService.getUserRoles($user.getUserId()))
        #foreach($role in $userRoles)
            #foreach($roleName in $rolesArray)
                #if($role.getName().equals($roleName))
                    #set($show=true)
                #end
            #end
        #end
        #if($show)
            #dockbar()
        #end
    #end
#end

<div id="wrapper">
    <div id="inner-wrapper">
	<a href="#main-content" id="skip-to-content">#language("skip-to-content")</a>

	<header id="banner" role="banner">
		<div id="heading" class="row-fluid">
			<h1 class="site-title col-md-6">
				<a class="$logo_css_class" href="$company_url" title="#language("go-to") $site_name">
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
				</a>
			</h1>

        <div id="user-section" class="col-md-6 text-right">
            #if($is_signed_in)

            <span>
                <img src="/image/user_male_portrait?img_id=$user.portraitId&amp;t=$dateTool.getSystemTime()"
                     alt="$user_first_name $user_last_name" width="30" />
                <span class="user-full-name">$user_first_name $user_last_name</span>
            </span>
                    <a href="$sign_out_url" rel="nofollow">
                        <i class="glyphicon glyphicon-off"></i>
                        $sign_out_text</a>

            #else
                <a href="$sign_in_url" rel="nofollow"><i class="glyphicon glyphicon-lock"></i>
                    $sign_in_text</a>
            #end
        </div>
		</div>


        #if ($is_signed_in && $show)
            #if ($has_navigation || $is_signed_in)
                #parse ("$full_templates_path/navigation.vm")
            #end
        #end
	</header>

	<div id="content">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

    </div>

    <footer id="footer" role="contentinfo">

    </footer>
    ##JS
    #js($jquery)
    #js($jqueryUi)
    #js($formstyler)
    #js($checkbox)
    #js($liTabs)
    #js($chosen)
    #js($prettyCheckable)
</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>