.t_wrap {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    *zoom:1;
    display:block;
    position: relative;
}
.t_item_block {
    border-bottom: 1px solid #aeb2b4;
    font-size: 0;
    text-align: center;
}
.t_item {
    list-style: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.t_item+.t_item {margin-left: 8px;}
.no-webgl .t_item+.t_item {margin-left: 6px;}

.t_link.cur {
    color: #333;
}

.t_content {
    display: none;
    float: left;
    margin: 0 -100% 0 0;
    position: relative;
    width: 100%;
}
.t_include {
    clear: both;
    overflow: hidden;
    position: relative;
    top: -1px;
    z-index: 1;
    zoom: 1;
}

.t_content h6 {
    font: 16px/24px 'plumbmedium';
    color: #38393d;
    letter-spacing: -1px;
}

.t_content p {
    font-size: 16px;
    line-height: 20px;
    color: #38393d;
    margin-bottom: 12px;
    letter-spacing: -1px;
}

.validateForm .pretRad{
    display: block !important;
    position: absolute;
    left: -9999px;
    top:-9999px;
}
.validateForm .pretCheck{
    display: block !important;
    position: absolute;
    left: -9999px;
    top:-9999px;
}

span.tip {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    padding: 10px;
    border: 1px solid #b8bdc0;
    background: #fff;
    border-radius: 10px;
    font: 12px/16px 'Plumb';
    max-width: 250px;
    font-style: normal;
    min-width: 110px;
    color: #333;
    letter-spacing: -0.5px;
    z-index: 1400000;
    text-align: center;
}

span.tip:after, span.tip:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

span.tip:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    left: 30px;
    margin-left: -8px;
}
span.tip:before {
    border-color: rgba(184, 189, 192, 0);
    border-bottom-color: #b8bdc0;
    border-width: 9px;
    left: 30px;
    margin-left: -9px;
}

#modal-window{
    background: url("../images/pic/ajax-loader.gif") no-repeat scroll 50% 50% #F1F1F1;
    height: 100%;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.department-section{
    display: none;
}

.checkout-portlet .t_content .checkRow{
    padding-left: 0;
}

.checkout-portlet .nextStep.regsBtn.nxStepGrey,
.checkout-portlet .nextStep.regsBtn,
.checkout-portlet .nextStep.regsBtn:hover{
    background: none repeat scroll 0 0 #0689B9;
    color: #FFFFFF !important;
    display: inline-block;
    font: 14px/20px 'plumbmedium';
    padding: 11px 30px;
    position: relative;
    text-decoration: none !important;
    vertical-align: top;
    border-radius:0 ;
    box-shadow: 0 0 0 #000;
    text-shadow: 0 0 0 #000;
}

.checkout-portlet .regStep + .regStep{
    margin-left: 20px;
}

label.error {
    color: #db032c;
    display: block;
    font-size: 13px;
}

.to-uppercase{
    text-transform: uppercase;
}

.checkout-portlet .regStep a.cur {
    color: #38393D;
}

.checkout-portlet .tar{
    text-align: right;
}

.checkout-portlet .chosen-disabled{
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.checkout-portlet .chosen-container-single.chosen-disabled .chosen-single {
    background-color: #fff;
    border: 1px solid #CCCCCC;
    color: #888;
}
.checkout-portlet .regRow input:disabled {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #888888;
}

.checkout-portlet .jq-selectbox.sel-5 ul{
    max-height: 145px !important;
}

.checkout-portlet .enterField > div.day,
.checkout-portlet .enterField > div.month,
.checkout-portlet .enterField > div.year{
    float: left;
}

.regTabs .t_content {
    padding: 2% 0;
    text-align: center;
}

.regContent, .loginContent {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    text-align: left;
    font-size: 0;
    margin-bottom: 2%;
}

.regRow {
    padding: 8px 0;
    position: relative;
}

.regRow label {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 280px;
    text-align: right;
    padding-right: 10px;
    font: 16px/30px 'Plumb';
    color: #38393d;
    letter-spacing: -0.5px;
}


.enterField {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    position: relative;
    line-height: 0;
}

.regRow input {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 280px;
    height: 20px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #b8bdc0;
    font: 16px/20px 'Plumb';
    color: #38393d;
}

.regContent .tar, .loginContent  .tar {
    padding-top: 30px;
    padding-right: 11px;
}

.nextStep {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    position: relative;
    font: 14px/20px 'plumbmedium';
    color: #fff !important;
    text-decoration: none !important;
    background: #0689b9;
    padding: 11px 30px;
}

.nextStep span {
    position: absolute;
    top: 0;
    right: -11px;
    width: 11px;
    height: 42px;
    background: url(../images/pic/liArr.png) 0 0 no-repeat;
}

.nextStep:hover {background: #07A5E0;}
.nextStep:hover span {background: url(../images/pic/liArr.png) 0 bottom no-repeat;}

.checkRow {
    padding-top: 10px;
}

.t_content .checkRow {padding-left: 110px;}

.checkRow label {
    font: 16px/20px 'Plumb';
    color: #38393d;
    letter-spacing: -0.5px;
    overflow: hidden;
}

.checkRow .checkbox {
    margin-left: 0;
    float: left;
}

.checkRow label p {
    overflow: hidden;
}

.checkRow .checkbox.checked {background-position: -60px -586px;}

.nxStepGrey {background: #aeb2b4 !important;}
.nxStepGrey span {background: url(../images/pic/liArr_grey.png) 0 0 no-repeat !important;}

.quest-template {
    margin-bottom: 4%;
}

.quest-template .t_item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    font: 14px/18px 'Plumb';
    color: #797c80;
}

.quest-template .t_item.cur {color: #38393d;}

.quest-template .t_item+.t_item {
    padding-left: 25px;
    margin-left: 10px;
    background: url(../images/pic/sprite.png) 0 -822px no-repeat;
}

.quest-template .t_item a {text-decoration: none !important;}

span.error {
    display: block;
    position: absolute;
    top: 39px;
    left: 0;
    padding: 10px;
    border: 1px solid #b8bdc0;
    background: #fff;
    border-radius: 10px;
    font: 12px/16px 'Plumb';
    max-width: 250px;
    font-style: normal;
    min-width: 110px;
    color: #333;
    letter-spacing: -0.5px;
    z-index: 1400;
    text-align: center;
}

span.error:after, span.error:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

span.error:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    left: 30px;
    margin-left: -8px;
}
span.error:before {
    border-color: rgba(184, 189, 192, 0);
    border-bottom-color: #b8bdc0;
    border-width: 9px;
    left: 30px;
    margin-left: -9px;
}

.errorP {
    padding-right: 30px !important;
    margin-right: -30px;
    background: url(../images/pic/error.png) right 12px no-repeat;
}

input.error {border-color: #E60005 !important;}

.radioBlock {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin-left: 8px;
    padding-top: 6px;
}
.radioBlock label {
    text-align: left;
}
.radioBlock input[type="radio"]{
    width: 15px;
}
.enterField input[type="checkbox"]{
    width: 15px;
    margin: 7px 10px 10px 3px;
}

.radioBlock+.radioBlock { margin-left: 18px;}

.unit_options .radioBlock+.radioBlock {margin-left: 8px;}

.radioBlock label {
    width: auto;
    line-height: 18px;
    padding-left: 19px;
}

.radio {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 12px;
    height: 12px;
    margin-top: 9px;
    margin-right: 8px;
    background: url(../images/pic/sprite.png) 0 -951px no-repeat;
}

.radio.checked {background-position: -12px -951px;}

.day, .month, .year {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    position: relative;
}

.month {
    margin: 0 5px;
}

.serial, .passNumber, .passData {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    font-size: 0;
    position: relative;
}

.serial input {
    text-align: center;
    width: 53px;
    padding: 5px 0;
}

.passNumber {margin-left: 11px;}
.passNumber label {width: auto;}
.passNumber input {width: 153px;}

.selField .sbHolder, .selField .sbOptions {width: 299px;display: inline-block;}
.selField .sbSelector {width: 269px;}

.enterNumber {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    position: relative;
}

.enterNumber input {
    width: 53px;
    text-align: center;
}

.numberHouse {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin-left: 36px;
}

.numberHouse label, .zip_code label {width: auto;}
.numberHouse input {
    width: 54px;
    text-align: center;
}

.zip_code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin-left: 50px;
    position: relative;
}

.zip_code .sbHolder, .zip_code .sbOptions{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 112px;
}

label.doubleL {
    line-height: 15px;
}

.multiCheck {line-height: 0; padding-top: 8px;}

.multiCheck label {
    text-align: left;
    cursor: pointer;
    line-height: 20px !important;
}

.multiCheck .checkbox {
    margin-left: 0;
    margin-top: 1px;
}

.multiCheck .checkbox.checked {background-position: -60px -586px;}

.regTitle {
    font: 16px/20px 'Plumb';
    color: #000;
    letter-spacing: -0.5px;
    padding: 5px 15px;
    background: #dfe4e9;
    margin-bottom: 2%;
}

.regRow + .regTitle{
    margin: 2% 0;
}

input.inpPhone {
    padding-left: 42px !important;
    width: 248px;
}

.PhonePlus {
    position: absolute;
    top: 6px;
    left: 11px;
    width: 20px;
    height: 20px;
    font: 16px/20px 'Plumb';
    color: #38393d;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {clear: both;}

.clearfix {*zoom: 1;}

.prettycheckbox,
.prettyradio {
    position: relative;
    padding:0;
    margin:0;
}

.prettycheckbox.disabled label{
    opacity: 0.5;
    filter:alpha(opacity=50);
}

.prettycheckbox a,
.prettyradio a{
    float: left;
    display: block;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background: url(../images/pic/sprite.png) -182px 0 no-repeat;
}
.prettyradio a {
    width: 12px;
    height: 12px;
    margin-top: 4px;
    margin-right: 0;
    background-position: 0 -951px;
}

.prettycheckbox label,
.prettyradio label {
    display: block;
    cursor: pointer;
    font: 16px/20px 'Plumb';
    color: #38393d;
    letter-spacing: -0.5px;
    vertical-align: top;
    text-align: left;
    padding-left: 5px;
}

.prettycheckbox a.checked{ background-position: -60px -586px; }
.prettyradio a.checked { background-position: -12px -951px; }

.totalRow {
    padding: 5px 0;
    position: relative;
}

.totalRow p {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    text-align: right;
    padding-right: 10px;
    font: 16px/20px 'Plumb';
    color: #797c80;
    letter-spacing: -0.5px;
}

.totalRow p+p {
    color: #38393d;
    text-align: left;
}

.formLine {
    border-bottom: 1px solid #d6d8d9;
    box-shadow: 0 1px 0 #fff;
    margin: 1% 0;
}

.payBtn {
    background: #93b300;
    padding: 7px 32px;
    font-size: 16px;
}

.payBtn:hover {background: #a9ce00;}

.unit_options .regContent .tar {padding: 0;}

.successful {
    text-align: center;
    font: 24px/30px 'Plumb';
    color: #38393d;
    padding: 1% 0 3%;
}

.successfulBtn {
    width: 187px;
    height: 32px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin: 0 4px;
    text-align: center;
    font: 16px/32px 'plumbmedium';
    color: #fff !important;
    background: #93b300;
    text-decoration: none !important;
}
.successfulBtn:hover {background: #a9ce00;}

.enterField i {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 13px;
    height: 13px;
    margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
    background: url(../images/pic/sprite.png) -177px -261px no-repeat;
}

.enterField i:hover .popupBlock {display: block;}

.enterField textarea {
    border: 1px solid #b8bdc0;
    padding: 10px;
    margin: 0;
    width: 280px;
    min-height: 70px;
    font: 13px/17px 'Plumb';
    color: #000;
    max-width: 685px !important;
}
.checkBtn {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font: 16px/20px 'plumbmedium';
    color: #fff !important;
    text-decoration: none !important;
    background: #93b300;
    margin-left: 10px;
    padding: 7px 25px;
}

.checkBtn:hover {background: #a9ce00;}

.monexyNumber p {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    font: 16px/30px 'Plumb';
    color: #38393d;
    letter-spacing: -0.5px;
}

.choseField {
    width: 301px;
}

.overflow {overflow: hidden; *zoom:1;}
.tac {text-align: center;}
.tar {text-align: right; }
.fll {float: left;}
.flr {float: right;}
.cls {font-size: 0;}
.clear { clear: both;}
.imgLeft {margin:4px 10px 2px 0;float:left !important; clear:both;}
.imgRight {margin:4px 0 2px 10px;float:right !important; clear:both;}


.error404 {
    padding-top: 6%;
    margin-bottom: 10%;
}

.left404 {float: left;}

.left404 p {
    font: 30px/30px Plumb;
    color: #aeb2b4;
}

.p404 {
    font: 183px/160px Plumb;
    color: #aeb2b4;
}

.right404 {
    float: right;
    width: 675px;
    padding-top: 30px;
}

.message {
    font: 24px/36px Plumb;
    color: #797c80;
    margin-bottom: 4%;
}

.maybe {
    font: 16px/36px Plumb;
    color: #aeb2b4;
    margin-bottom: 4%;
}

.backMain {
    display: inline-block;
//display: inline;
//zoom: 1;
    vertical-align: top;
    font: 18px/36px Plumb;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: 0 -1px 0 #6b8201;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 15px 40px;
    background: #b4db00;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZGIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZTg2MDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #b4db00 0%, #6e8601 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4db00), color-stop(100%,#6e8601));
    background: -webkit-linear-gradient(top,  #b4db00 0%,#6e8601 100%);
    background: -o-linear-gradient(top,  #b4db00 0%,#6e8601 100%);
    background: -ms-linear-gradient(top,  #b4db00 0%,#6e8601 100%);
    background: linear-gradient(to bottom,  #b4db00 0%,#6e8601 100%);
}

.no-borderradius .backMain {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4db00', endColorstr='#6e8601',GradientType=0 );
}
.backMain:hover {
    background: #6e8601;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlODYwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2I0ZGIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #6e8601 0%, #b4db00 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e8601), color-stop(99%,#b4db00));
    background: -webkit-linear-gradient(top,  #6e8601 0%,#b4db00 99%);
    background: -o-linear-gradient(top,  #6e8601 0%,#b4db00 99%);
    background: -ms-linear-gradient(top,  #6e8601 0%,#b4db00 99%);
    background: linear-gradient(to bottom,  #6e8601 0%,#b4db00 99%);
}
.no-borderradius .backMain:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e8601', endColorstr='#b4db00',GradientType=0 );
}
