.table > thead > tr.panel-header > th{
    padding: 0;
}
.panel-header th input{
    border-bottom: medium none;
    border-left: medium none;
    border-top: 0 none;
    padding: 5px 0;
    width: 99%;
}